test-model/src/main/resources/Owner-Car.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="volume" type="xs:integer"/>
  <xs:element name="owner">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cars"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cars">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="car" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="engineState">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="STARTED"/>
        <xs:enumeration value="STOPPED"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="engine">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="engineState"/>
        <xs:element ref="type"/>
        <xs:element ref="volume"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="car">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="make"/>
        <xs:element ref="model"/>
        <xs:element ref="engine"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="model" type="xs:string"/>
  <xs:element name="type">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Petrol"/>
        <xs:enumeration value="Diesel"/>
        <xs:enumeration value="Hybrid"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="make" type="xs:string"/>
</xs:schema>